<?xml version="1.0"?>
<launch>
  <arg name="move_forward_only" default="false"/>
  <arg name="map_file" default="/home/rajat/nahar_new.yaml"/>
  <arg name="model" default="$(env TURTLEBOT3_MODEL)" doc="model type [burger, waffle, waffle_pi]"/>
  <arg name="urdf_file" default="$(find xacro)/xacro --inorder '$(find turtlebot3_description)/urdf/turtlebot3_$(arg model).urdf.xacro'" />

  <arg name="nr" type="int" default="2"/>
  <arg name="tb3" default="$(eval 'tb3_'+str(arg('nr') - 1))"/>
  <arg name="foo" default="true"/>
  <arg name="ypos" type="double" default="0"/>


    <!-- Loads robot_description to parameter server from URDF file-->
  <param name="robot_description" command="$(arg urdf_file)" />

   <!-- Map Server -->
  <node pkg="map_server" name="map_server" type="map_server" args="$(arg map_file)"/>


  <group ns = "$(arg tb3)">
   
   <param name="tf_prefix" value="$(arg tb3)"/>
   
  
   <!-- AMCL -->
   <include file="$(find turtlebot3_navigation)/launch/amcl_multi.launch">
    <arg name="robot" value="$(arg tb3)"/>
    <arg name="initial_pose_x" value="$(arg ypos)"/>
    <arg name="initial_pose_y" value="0"/>
    <arg name="initial_pose_a" value="0.0"/>
   </include>
   </group>

   <!-- move_base -->
   <include file="$(find turtlebot3_navigation)/launch/move_base_multi.launch">
    <arg name="robot" value="$(arg tb3)"/>
    <arg name="model" value="$(arg model)" />
    <arg name="move_forward_only" value="$(arg move_forward_only)"/>
   </include>

  <!-- recursively start new node -->
   <include file="$(find turtlebot3_navigation)/launch/nav_recursive_2.launch" if="$(eval arg('nr') - 1 > 0)">
      <arg name="nr" value="$(eval arg('nr') - 1)"/>
      <arg name="tb3" value="$(eval 'tb3_' + str(arg('nr') - 2))"/>
      <arg name="foo" value="false"/>
      <arg name="map_file" default="/home/rajat/nahar_new.yaml"/>
      <arg name="ypos" default="$(eval arg('ypos') + 0.5)"/>
   </include>

   <!-- RVIZ configured for tb3_0/1 -->
  <node pkg="rviz" type="rviz" name="rviz" required="true"
         args="-d $(find turtlebot3_nps)/rviz/two_tb3_one_map_twogoals.rviz"/>
 
</launch>
