<launch>

  <!-- Arguments -->
  <arg name="model" default="$(env TURTLEBOT3_MODEL)" doc="model type [burger, waffle, waffle_pi]"/>
  <arg name="map_file" default="$(find warehouse_gazebo)/maps/map_small_warehouse.yaml"/>
  <arg name="open_rviz" default="true"/>
  <arg name="move_forward_only" default="false"/>

  <!--
  <node pkg="tf" type="static_transform_publisher" name="link1_broadcaster1" args="3 1 0 0 0 0 1 map tb3_0/odom 100" />
  <node pkg="tf" type="static_transform_publisher" name="link1_broadcaster2" args="-4 1 0 0 0 0 1 map tb3_1/odom 100" />-->

  <arg name="first_tb3"  default="tb3_0"/>
  <arg name="second_tb3" default="tb3_1"/>
  <arg name="third_tb3" default="tb3_2"/>
  <arg name="four_tb3"  default="tb3_3"/>
  <arg name="five_tb3" default="tb3_4"/>
  <arg name="six_tb3" default="tb3_5"/>
  <arg name="seven_tb3"  default="tb3_6"/>
  <arg name="eight_tb3" default="tb3_7"/>
  <arg name="nine_tb3"  default="tb3_8"/>
  <arg name="ten_tb3" default="tb3_9"/>
  <arg name="eleven_tb3" default="tb3_10"/>
  <arg name="twelve_tb3"  default="tb3_11"/>
  <arg name="thirteen_tb3" default="tb3_12"/>
  <arg name="fourteen_tb3" default="tb3_13"/>
  <arg name="fifteen_tb3"  default="tb3_14"/>
  <arg name="sixteen_tb3" default="tb3_15"/>

  <arg name="first_tb3_x_pos" default=" -1.2"/>
  <arg name="first_tb3_y_pos" default=" 0.0"/>
  <arg name="first_tb3_z_pos" default=" 0.0"/>
  <arg name="first_tb3_yaw"   default=" 0.0"/>

  <arg name="second_tb3_x_pos" default=" 1.2"/>
  <arg name="second_tb3_y_pos" default=" 0.0"/>
  <arg name="second_tb3_z_pos" default=" 0.0"/>
  <arg name="second_tb3_yaw"   default=" 0.0"/>
 
  <param name="/use_sim_time" value="true"/>

  <group ns = "$(arg first_tb3)">
   
   <param name="tf_prefix" value="$(arg first_tb3)"/>
   
   <!-- Map server -->
   <node pkg="map_server" name="map_server" type="map_server" args="$(arg map_file)">
    <param name="frame_id" value="map" />
   </node>

   <!-- AMCL -->
   <include file="$(find turtlebot3_navigation)/launch/amcl_multi.launch">
    <arg name="robot" value="tb3_0"/>
   </include>

   <!-- move_base -->
   <include file="$(find turtlebot3_navigation)/launch/move_base_multi.launch">
    <arg name="robot" value="tb3_0"/>
    <arg name="model" value="$(arg model)" />
    <arg name="move_forward_only" value="$(arg move_forward_only)"/>
   </include>

  </group>

  <group ns = "$(arg second_tb3)">
   
   <param name="tf_prefix" value="$(arg second_tb3)"/>
   
   <!-- Map server -->
   <node pkg="map_server" name="map_server" type="map_server" args="$(arg map_file)">
    <param name="frame_id" value="map" />
   </node>

   <!-- AMCL -->
   <include file="$(find turtlebot3_navigation)/launch/amcl_multi.launch">
    <arg name="robot" value="tb3_1"/>
   </include>

   <!-- move_base -->
   <include file="$(find turtlebot3_navigation)/launch/move_base_multi.launch">
    <arg name="robot" value="tb3_1"/>
    <arg name="model" value="$(arg model)" />
    <arg name="move_forward_only" value="$(arg move_forward_only)"/>
   </include>

  </group>

  <group ns = "$(arg third_tb3)">
   
   <param name="tf_prefix" value="$(arg third_tb3)"/>
   
   <!-- Map server -->
   <node pkg="map_server" name="map_server" type="map_server" args="$(arg map_file)">
    <param name="frame_id" value="map" />
   </node>

   <!-- AMCL -->
   <include file="$(find turtlebot3_navigation)/launch/amcl_multi.launch">
    <arg name="robot" value="tb3_2"/>
   </include>

   <!-- move_base -->
   <include file="$(find turtlebot3_navigation)/launch/move_base_multi.launch">
    <arg name="robot" value="tb3_2"/>
    <arg name="model" value="$(arg model)" />
    <arg name="move_forward_only" value="$(arg move_forward_only)"/>
   </include>

  </group>

  <group ns = "$(arg four_tb3)">
   
   <param name="tf_prefix" value="$(arg four_tb3)"/>
   
   <!-- Map server -->
   <node pkg="map_server" name="map_server" type="map_server" args="$(arg map_file)">
    <param name="frame_id" value="map" />
   </node>

   <!-- AMCL -->
   <include file="$(find turtlebot3_navigation)/launch/amcl_multi.launch">
    <arg name="robot" value="tb3_3"/>
   </include>

   <!-- move_base -->
   <include file="$(find turtlebot3_navigation)/launch/move_base_multi.launch">
    <arg name="robot" value="tb3_3"/>
    <arg name="model" value="$(arg model)" />
    <arg name="move_forward_only" value="$(arg move_forward_only)"/>
   </include>

  </group>

  <group ns = "$(arg five_tb3)">
   
   <param name="tf_prefix" value="$(arg five_tb3)"/>
   
   <!-- Map server -->
   <node pkg="map_server" name="map_server" type="map_server" args="$(arg map_file)">
    <param name="frame_id" value="map" />
   </node>

   <!-- AMCL -->
   <include file="$(find turtlebot3_navigation)/launch/amcl_multi.launch">
    <arg name="robot" value="tb3_4"/>
   </include>

   <!-- move_base -->
   <include file="$(find turtlebot3_navigation)/launch/move_base_multi.launch">
    <arg name="robot" value="tb3_4"/>
    <arg name="model" value="$(arg model)" />
    <arg name="move_forward_only" value="$(arg move_forward_only)"/>
   </include>

  </group>

  <group ns = "$(arg six_tb3)">
   
   <param name="tf_prefix" value="$(arg six_tb3)"/>
   
   <!-- Map server -->
   <node pkg="map_server" name="map_server" type="map_server" args="$(arg map_file)">
    <param name="frame_id" value="map" />
   </node>

   <!-- AMCL -->
   <include file="$(find turtlebot3_navigation)/launch/amcl_multi.launch">
    <arg name="robot" value="tb3_5"/>
   </include>

   <!-- move_base -->
   <include file="$(find turtlebot3_navigation)/launch/move_base_multi.launch">
    <arg name="robot" value="tb3_5"/>
    <arg name="model" value="$(arg model)" />
    <arg name="move_forward_only" value="$(arg move_forward_only)"/>
   </include>

  </group>

  <group ns = "$(arg seven_tb3)">
   
   <param name="tf_prefix" value="$(arg seven_tb3)"/>
   
   <!-- Map server -->
   <node pkg="map_server" name="map_server" type="map_server" args="$(arg map_file)">
    <param name="frame_id" value="map" />
   </node>

   <!-- AMCL -->
   <include file="$(find turtlebot3_navigation)/launch/amcl_multi.launch">
    <arg name="robot" value="tb3_6"/>
   </include>

   <!-- move_base -->
   <include file="$(find turtlebot3_navigation)/launch/move_base_multi.launch">
    <arg name="robot" value="tb3_6"/>
    <arg name="model" value="$(arg model)" />
    <arg name="move_forward_only" value="$(arg move_forward_only)"/>
   </include>

  </group>

  <group ns = "$(arg eight_tb3)">
   
   <param name="tf_prefix" value="$(arg eight_tb3)"/>
   
   <!-- Map server -->
   <node pkg="map_server" name="map_server" type="map_server" args="$(arg map_file)">
    <param name="frame_id" value="map" />
   </node>

   <!-- AMCL -->
   <include file="$(find turtlebot3_navigation)/launch/amcl_multi.launch">
    <arg name="robot" value="tb3_7"/>
   </include>

   <!-- move_base -->
   <include file="$(find turtlebot3_navigation)/launch/move_base_multi.launch">
    <arg name="robot" value="tb3_7"/>
    <arg name="model" value="$(arg model)" />
    <arg name="move_forward_only" value="$(arg move_forward_only)"/>
   </include>

  </group>

  <group ns = "$(arg nine_tb3)">
   
   <param name="tf_prefix" value="$(arg nine_tb3)"/>
   
   <!-- Map server -->
   <node pkg="map_server" name="map_server" type="map_server" args="$(arg map_file)">
    <param name="frame_id" value="map" />
   </node>

   <!-- AMCL -->
   <include file="$(find turtlebot3_navigation)/launch/amcl_multi.launch">
    <arg name="robot" value="tb3_8"/>
   </include>

   <!-- move_base -->
   <include file="$(find turtlebot3_navigation)/launch/move_base_multi.launch">
    <arg name="robot" value="tb3_8"/>
    <arg name="model" value="$(arg model)" />
    <arg name="move_forward_only" value="$(arg move_forward_only)"/>
   </include>

  </group>

  <group ns = "$(arg ten_tb3)">
   
   <param name="tf_prefix" value="$(arg ten_tb3)"/>
   
   <node pkg="map_server" name="map_server" type="map_server" args="$(arg map_file)">
    <param name="frame_id" value="map" />
   </node>

   <include file="$(find turtlebot3_navigation)/launch/amcl_multi.launch">
    <arg name="robot" value="tb3_9"/>
   </include>

   <include file="$(find turtlebot3_navigation)/launch/move_base_multi.launch">
    <arg name="robot" value="tb3_9"/>
    <arg name="model" value="$(arg model)" />
    <arg name="move_forward_only" value="$(arg move_forward_only)"/>
   </include>

  </group>

  <group ns = "$(arg eleven_tb3)">
   
   <param name="tf_prefix" value="$(arg eleven_tb3)"/>
   
   <!-- Map server -->
   <node pkg="map_server" name="map_server" type="map_server" args="$(arg map_file)">
    <param name="frame_id" value="map" />
   </node>

   <!-- AMCL -->
   <include file="$(find turtlebot3_navigation)/launch/amcl_multi.launch">
    <arg name="robot" value="tb3_10"/>
   </include>

   <!-- move_base -->
   <include file="$(find turtlebot3_navigation)/launch/move_base_multi.launch">
    <arg name="robot" value="tb3_10"/>
    <arg name="model" value="$(arg model)" />
    <arg name="move_forward_only" value="$(arg move_forward_only)"/>
   </include>

  </group>

  <group ns = "$(arg twelve_tb3)">
   
   <param name="tf_prefix" value="$(arg twelve_tb3)"/>
   
   <!-- Map server -->
   <node pkg="map_server" name="map_server" type="map_server" args="$(arg map_file)">
    <param name="frame_id" value="map" />
   </node>

   <!-- AMCL -->
   <include file="$(find turtlebot3_navigation)/launch/amcl_multi.launch">
    <arg name="robot" value="tb3_11"/>
   </include>

   <!-- move_base -->
   <include file="$(find turtlebot3_navigation)/launch/move_base_multi.launch">
    <arg name="robot" value="tb3_11"/>
    <arg name="model" value="$(arg model)" />
    <arg name="move_forward_only" value="$(arg move_forward_only)"/>
   </include>

  </group>

  <group ns = "$(arg thirteen_tb3)">
   
   <param name="tf_prefix" value="$(arg thirteen_tb3)"/>
   
   <!-- Map server -->
   <node pkg="map_server" name="map_server" type="map_server" args="$(arg map_file)">
    <param name="frame_id" value="map" />
   </node>

   <!-- AMCL -->
   <include file="$(find turtlebot3_navigation)/launch/amcl_multi.launch">
    <arg name="robot" value="tb3_12"/>
   </include>

   <!-- move_base -->
   <include file="$(find turtlebot3_navigation)/launch/move_base_multi.launch">
    <arg name="robot" value="tb3_12"/>
    <arg name="model" value="$(arg model)" />
    <arg name="move_forward_only" value="$(arg move_forward_only)"/>
   </include>

  </group>

  <group ns = "$(arg fourteen_tb3)">
   
   <param name="tf_prefix" value="$(arg fourteen_tb3)"/>
   
   <!-- Map server -->
   <node pkg="map_server" name="map_server" type="map_server" args="$(arg map_file)">
    <param name="frame_id" value="map" />
   </node>

   <!-- AMCL -->
   <include file="$(find turtlebot3_navigation)/launch/amcl_multi.launch">
    <arg name="robot" value="tb3_13"/>
   </include>

   <!-- move_base -->
   <include file="$(find turtlebot3_navigation)/launch/move_base_multi.launch">
    <arg name="robot" value="tb3_13"/>
    <arg name="model" value="$(arg model)" />
    <arg name="move_forward_only" value="$(arg move_forward_only)"/>
   </include>

  </group>

  <group ns = "$(arg fifteen_tb3)">
   
   <param name="tf_prefix" value="$(arg fifteen_tb3)"/>
   
   <!-- Map server -->
   <node pkg="map_server" name="map_server" type="map_server" args="$(arg map_file)">
    <param name="frame_id" value="map" />
   </node>

   <!-- AMCL -->
   <include file="$(find turtlebot3_navigation)/launch/amcl_multi.launch">
    <arg name="robot" value="tb3_14"/>
   </include>

   <!-- move_base -->
   <include file="$(find turtlebot3_navigation)/launch/move_base_multi.launch">
    <arg name="robot" value="tb3_14"/>
    <arg name="model" value="$(arg model)" />
    <arg name="move_forward_only" value="$(arg move_forward_only)"/>
   </include>

  </group>

  <group ns = "$(arg sixteen_tb3)">
   
   <param name="tf_prefix" value="$(arg sixteen_tb3)"/>
   
   <!-- Map server -->
   <node pkg="map_server" name="map_server" type="map_server" args="$(arg map_file)">
    <param name="frame_id" value="map" />
   </node>

   <!-- AMCL -->
   <include file="$(find turtlebot3_navigation)/launch/amcl_multi.launch">
    <arg name="robot" value="tb3_15"/>
   </include>

   <!-- move_base -->
   <include file="$(find turtlebot3_navigation)/launch/move_base_multi.launch">
    <arg name="robot" value="tb3_15"/>
    <arg name="model" value="$(arg model)" />
    <arg name="move_forward_only" value="$(arg move_forward_only)"/>
   </include>

  </group>

  <!-- rviz -->
  <group if="$(arg open_rviz)"> 
    <node pkg="rviz" type="rviz" name="rviz" required="true"
          args="-d $(find turtlebot3_navigation)/rviz/turtlebot3_navigation_multi.rviz"/>
  </group>

</launch>
